.container {
    font-size: 18px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.innerContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 25px 25px;
}


.title {
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 20px;
}

.orderContainer {
    margin-top: 40px;
    margin-bottom: 0px;
}

.btn {
    background-color: rgb(211, 232, 206);
    cursor: pointer;
    font-size: 18px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.btn:hover {
    background-color: rgb(190, 215, 184);
}

.icon {
    padding-left: 5px;
    padding-top: 5px;
}

.saved {
    font-size: 20px;
    font-weight: 700;
    color: rgb(6, 100, 6);
    margin-bottom: 35px;
}

.text {
    margin-top: 40px;
}

.confirmMessage {
    max-width: 700px;
    margin: auto;
  font-size: 19px;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: center;
  color: #3a3a3a;
}

.strong{
    font-weight: 500;
}

.teamName {
  font-weight: bold;
  color: rgb(182, 3, 3)
}
